@import './components/all.scss';

body {
  margin: 0;
  background-color: #F1F2F3;
}

.wrapper {
  height: 100%;

  .content {
    margin: 30px auto;
    padding: 40px 0;
    background-color: #4c7cc2;
    max-width: 1140px;
  }
}
