@import './components/all.scss';

body {
  margin: 0;
  background-color: #F1F2F3;

}

.wrapper {

  height: 100%;

  .content {
    margin: 30px auto;
    padding: 0;
    background-color: #F1F2F3;
    max-width: 1140px;
    min-height: 940px;
  }
}

.main__content {
  display: grid;
  grid-template-columns: 366px 1fr;
  column-gap: 30px;
  min-height: 940px;
  .left {

  }
  .right {
    background-color: #365e2d;
  }
}